#### Read Data

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [2]:
resource = 'https://drive.google.com/uc?export=download&id=1by5_2HhJ4WO5VBJ0Tc9OZStPqDwiAUYW'
dataset = pd.read_csv(resource)

### Missing Values

In [3]:
def missing_data(ds_saber_11_2020):
  data_nulls_values = [nan for nan in ds_saber_11_2020.isnull().sum() ]
  data_nulls_labels = [nan_l for nan_l in ds_saber_11_2020.columns]
  nulls_values = dict(zip(data_nulls_labels,data_nulls_values))
  return nulls_values, ds_saber_11_2020.isnull().sum().sum()

def show_missing_data(dict_nulls):
    nulls_values = dict(zip([k for k,v in dict_nulls[0].items() if v > 0], [v for k,v in dict_nulls[0].items() if v > 0]))
    return nulls_values, ['Etiquetas', '#Datos']

def null_handling_values(ds):
  nulls_values = missing_data(ds)
  print('Se encontraron {} datos vacios o nulos.'.format(nulls_values[1])) if nulls_values[1] > 0 else print('No se encontraron datos vacios.')
  if nulls_values[1] > 0:
    info = show_missing_data(nulls_values) 
    print(tabulate(info [0].items(), headers=info [1])) if bool(input('Â¿Desea ver detalle de datos vacios? n/y').lower()=='y') else None
    return info[0]
  return 0

In [4]:
df_null = null_handling_values(dataset)

Se encontraron 43461 datos vacios o nulos.

## Percent Nullable

In [5]:
data_nulls_values=missing_data(dataset)
df = pd.DataFrame(data_nulls_values[0].items(), columns=['Variable', 'Datos'])
df['Porcentaje'] = (df['Datos'] /df['Datos'].sum()) * 100

In [6]:
def cols_90per_nulls(data):
    count = 0
    cols_to_drop = {}
    for col in data.columns:
        per_nulls = data[col].isna().sum()/len(data[col])
        if per_nulls >= 0.1:
            cols_to_drop[col] = per_nulls
            # print(col, per_nulls)
            count+=1
        else:
            None

    print('Number of cols with >50% nulls:', count)
    return cols_to_drop
    
cols_90per_nulls(dataset)

# dataset percentiles 
dataset['percentil_global']
# dataset['percentil_ingles'] # continuo

Number of cols with >50% nulls: 9

0         2.0
1        10.0
2         2.0
3         6.0
4        39.0
         ...
15430    54.0
15431    91.0
15432    76.0
15433    28.0
15434    88.0
Name: percentil_global, Length: 15435, dtype: float64

### Stand using stang_global

In [ ]:
def define_stand(dataset):

### Using dropnan

In [8]:
## Delete Nan values
dataset = dataset.fillna(0)

## View Data

In [7]:
# Show shape
dataset.shape
dataset.describe()

,periodo,estu_cod_reside_depto,estu_cod_reside_mcpio,cole_codigo_icfes,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_mcpio_ubicacion,cole_cod_depto_ubicacion,estu_cod_mcpio_presentacion,estu_cod_depto_presentacion,...,punt_c_naturales,percentil_c_naturales,desemp_c_naturales,punt_sociales_ciudadanas,percentil_sociales_ciudadanas,desemp_sociales_ciudadanas,punt_ingles,percentil_ingles,punt_global,percentil_global
count,15435.0,14671.000000,14671.000000,15435.000000,1.543500e+04,1.543500e+04,15435.00000,15435.000000,15435.000000,15435.000000,...,15435.000000,15435.000000,15435.000000,15435.000000,15435.000000,15435.000000,15399.000000,15435.000000,15435.000000,15399.000000
mean,20201.0,44.351578,44437.509713,130832.516553,3.498385e+11,3.498385e+11,44475.56482,44.366893,43952.395724,43.880143,...,56.065241,50.302235,2.540590,55.223000,50.292906,2.496016,64.948633,50.427600,289.434338,50.269238
std,0.0,30.620482,30630.074031,178352.159641,4.704431e+10,4.704429e+10,30386.87119,30.391557,30814.768289,30.808170,...,12.373777,28.889129,0.861518,13.792992,28.903069,0.936444,17.863339,29.177412,60.299185,28.886154
min,20201.0,5.000000,5001.000000,182.000000,1.050450e+11,1.050450e+11,5001.00000,5.000000,5001.000000,5.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
25%,20201.0,11.000000,11001.000000,24299.000000,3.117690e+11,3.117690e+11,11001.00000,11.000000,11001.000000,11.000000,...,47.000000,25.000000,2.000000,45.000000,25.000000,2.000000,52.000000,25.000000,245.000000,25.000000
50%,20201.0,52.000000,52001.000000,79327.000000,3.680010e+11,3.680010e+11,52001.00000,52.000000,52001.000000,52.000000,...,57.000000,50.000000,3.000000,57.000000,50.000000,3.000000,67.000000,50.000000,295.000000,50.000000
75%,20201.0,76.000000,76001.000000,135574.000000,3.760010e+11,3.760010e+11,76001.00000,76.000000,76001.000000,76.000000,...,65.000000,75.000000,3.000000,66.000000,75.000000,3.000000,78.000000,75.000000,336.000000,75.000000
max,20201.0,94.000000,94001.000000,730416.000000,6.252690e+11,6.252690e+11,86320.00000,86.000000,94001.000000,94.000000,...,100.000000,100.000000,4.000000,100.000000,100.000000,4.000000,100.000000,100.000000,479.000000,100.000000

In [9]:
#Export csv the cloud
def export_df(dataset):
    dataset.to_csv('dataset_clean_10_12_2021.csv')

export_df(dataset)