#### Read Data

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [2]:
resource = 'https://drive.google.com/uc?export=download&id=1by5_2HhJ4WO5VBJ0Tc9OZStPqDwiAUYW'
dataset = pd.read_csv(resource)

### Missing Values

In [4]:
def missing_data(ds_saber_11_2020):
  data_nulls_values = [nan for nan in ds_saber_11_2020.isnull().sum() ]
  data_nulls_labels = [nan_l for nan_l in ds_saber_11_2020.columns]
  nulls_values = dict(zip(data_nulls_labels,data_nulls_values))
  return nulls_values, ds_saber_11_2020.isnull().sum().sum()

def show_missing_data(dict_nulls):
    nulls_values = dict(zip([k for k,v in dict_nulls[0].items() if v > 0], [v for k,v in dict_nulls[0].items() if v > 0]))
    return nulls_values, ['Etiquetas', '#Datos']

def null_handling_values(ds):
  nulls_values = missing_data(ds)
  print('Se encontraron {} datos vacios o nulos.'.format(nulls_values[1])) if nulls_values[1] > 0 else print('No se encontraron datos vacios.')
  if nulls_values[1] > 0:
    info = show_missing_data(nulls_values) 
    print(tabulate(info [0].items(), headers=info [1])) if bool(input('¿Desea ver detalle de datos vacios? n/y').lower()=='y') else None
    return info[0]
  return 0

In [6]:
df_null = null_handling_values(dataset)

Se encontraron 43461 datos vacios o nulos.
Etiquetas                        #Datos
-----------------------------  --------
estu_genero                           1
estu_tieneetnia                     764
estu_depto_reside                   764
estu_cod_reside_depto               764
estu_mcpio_reside                   764
estu_cod_reside_mcpio               764
fami_estratovivienda               1558
fami_personashogar                 1407
fami_cuartoshogar                  1439
fami_educacionpadre                1549
fami_educacionmadre                1544
fami_trabajolaborpadre             1456
fami_trabajolabormadre             1460
fami_tieneinternet                 1529
fami_tieneserviciotv               1544
fami_tienecomputador               1422
fami_tienelavadora                 1427
fami_tienehornomicroogas           1437
fami_tieneautomovil                1455
fami_tienemotocicleta              1451
fami_tieneconsolavideojuegos       1451
fami_numlibros                     1763
fami_comelechederivados            1637
fami_comecarnepescadohuevo         1535
fami_comecerealfrutoslegumbre      1548
fami_situacioneconomica            1450
estu_dedicacionlecturadiaria       1532
estu_dedicacioninternet            1553
estu_horassemanatrabaja            1420
estu_tiporemuneracion              1458
cole_bilingue                      2615
cole_caracter                       928
punt_ingles                          36
percentil_global                     36

### Using dropnan

In [10]:
## Delete Nan values
dataset = dataset.dropna()

## View Data

In [13]:
# Show shape
dataset.shape
dataset.describe()

,periodo,estu_cod_reside_depto,estu_cod_reside_mcpio,cole_codigo_icfes,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_mcpio_ubicacion,cole_cod_depto_ubicacion,estu_cod_mcpio_presentacion,estu_cod_depto_presentacion,...,punt_c_naturales,percentil_c_naturales,desemp_c_naturales,punt_sociales_ciudadanas,percentil_sociales_ciudadanas,desemp_sociales_ciudadanas,punt_ingles,percentil_ingles,punt_global,percentil_global
count,10510.0,10510.000000,10510.000000,10510.000000,1.051000e+04,1.051000e+04,10510.000000,10510.000000,10510.000000,10510.000000,...,10510.000000,10510.000000,10510.000000,10510.000000,10510.000000,10510.000000,10510.000000,10510.00000,10510.000000,10510.000000
mean,20201.0,45.433968,45506.015414,94483.921313,3.498345e+11,3.498345e+11,45678.022931,45.586394,45322.030923,45.254234,...,58.175737,55.212274,2.679829,57.350333,54.736917,2.632921,67.948716,55.28411,300.192864,55.257279
std,0.0,30.778808,30796.287587,144610.437576,4.636225e+10,4.636225e+10,30612.406120,30.603865,30904.816094,30.901279,...,11.815615,28.088667,0.831259,13.328984,28.378915,0.916943,16.831885,28.06577,57.025566,28.033224
min,20201.0,5.000000,5001.000000,182.000000,1.152380e+11,1.152380e+11,5001.000000,5.000000,5001.000000,5.000000,...,21.000000,1.000000,1.000000,18.000000,1.000000,1.000000,0.000000,1.00000,132.000000,1.000000
25%,20201.0,11.000000,11001.000000,19471.000000,3.117690e+11,3.117690e+11,11001.000000,11.000000,11001.000000,11.000000,...,50.000000,32.000000,2.000000,48.000000,31.000000,2.000000,56.000000,32.00000,261.000000,32.000000
50%,20201.0,52.000000,52001.000000,53363.000000,3.760010e+11,3.760010e+11,52001.000000,52.000000,52001.000000,52.000000,...,59.000000,57.000000,3.000000,59.000000,56.000000,3.000000,71.000000,57.00000,307.000000,57.000000
75%,20201.0,76.000000,76001.000000,105742.000000,3.760010e+11,3.760010e+11,76001.000000,76.000000,76001.000000,76.000000,...,67.000000,80.000000,3.000000,68.000000,79.000000,3.000000,80.000000,79.00000,344.000000,80.000000
max,20201.0,94.000000,94001.000000,729939.000000,6.252690e+11,6.252690e+11,86320.000000,86.000000,94001.000000,94.000000,...,100.000000,100.000000,4.000000,100.000000,100.000000,4.000000,100.000000,100.00000,479.000000,100.000000

In [15]:
#Export csv the cloud
def export_df(dataset):
    dataset.to_csv('dataset_clean.csv')

export_df(dataset)